<nav>
   <div class="navLeft">
      <img src="/weather-icons/025-weather vane.png"width="100" height="100">
      <h2>Weather App</h2>
   </div>
   <div class="navRight">
      <ul>
         <li><a href = "/">Home</a></li>
         <li><a href = "weather">Weather</a></li>
      </ul>
   </div>
</nav>