<div class="nav">
   <div class="navLeft">
      {{!-- <img src="/images/weather-icons/025-weather vane.png"> --}}
      <h1>The Weather Egg-zactly Where You Are</h1>
   </div>
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/weather">Change Location</a></li>
   </ul>
</div>
<div id="circle"><img src="/images/weather-icons/025-weather vane.png"></div>